@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    display: block;
    color: #004F6F;
    cursor: default;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-cont1{
    z-index: 999;
    width: 100%;
    height: 90px;
    background-color: #fff;
    position: fixed;
    top: 0;
}
.nav-cont2{
    width: 90%;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    color: #004F6F;
    font-weight: 600;
    font-size: 14px;
}

.image {
    height: 90px;
    width: 172px;
}
.btn {
    height: 36px;
    width: 96px;
    background-color: #BD591F;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn:hover {
    background-color: #d59169;
}

.bg-image {
    height: 650px;
    width: 100%;
    background-image: url(../img/cute-dog-sleeping-ai-generated_23-2150643851.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    padding-top: 90px;
}

.Shelter {
    height: 500px;
    width: 437px;
    background-color: rgba(0, 116, 163, .8);
    text-shadow: 0 0 30px #0074a3;
    color: #fff;
    margin-top: 30px;
    margin-left: 80px;
    font-weight: 600;
    text-align: center;
}

#text1 {
    font-size: 48px;
    padding-top: 60px;
}

#text2 {
    font-size: 18px;
    padding-top: 30px;
}

.learn-btn {
    font-size: 13px;
    height: 41px;
    width: 122px;
    background-color: rgba(255, 255, 255, .95);
    color: #004F6F;
    font-weight: 600;
    border-radius: 4px;
    border: 1px transparent;
    margin-top: 50px;
}

.learn-btn:hover {
    background-color: #009bd9;
}

.Adc-container {
    height: 100px;
    width: 100%;
    background-color: #0B7AA6;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

.Adc-cont {
    height: 100%;
    width: 87%;
    display: flex;
}

.A-container {
    height: 100%;
    width: 364px;
    background-color: #18769B;
    padding-top: 30px;
}

.d-cont {
    background-color: #1B82AC;
}

.adc-tags {
    color: #fff;
    font-size: 25px;

}

.adc-tags:hover {
    text-decoration: underline;
}

.dog-img-text {
    height: 700px;
    width: 87%;
    margin: 60px auto;
}

.dog-text {
    height: 600px;
    width: 339px;
    margin-bottom: 100px;
}

.dog-img {
    height: 226px;
    width: 339px;
}

.p1 {
    font-weight: 600;
    font-size: 26px;
    color: #004F6F;
    padding-top: 12px;
}

.p2 {
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding-top: 12px;
}

.buy-btn {
    height: 41px;
    width: 100px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #004F6F;
    border-radius: 4px;
    background-color: transparent;
    margin: 7px 0;
}

.buy-btn:hover {
    background-color: #0074a3;
}

#stories-cont {
    height: 100px;
    width: 87%;
    margin: 10px auto;
    display: flex;
    color: #004F6F;
    font-weight: 400;
}

#cont1 {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    font-size: 34px;
}

#cont2 {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-end;

}

.story-btn {
    height: 41px;
    width: 132px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #004F6F;
    margin-top: 30px;
    font-size: 13px;
}

.story-btn:hover {
    background-color: #0074a3;
}

.animalCards-cont {
    height: 500px;
    width: 87%;
    margin: 0 auto;

}

.cards-cont {
    height: 180px;
    width: 100%;
}

.animal-cards {
    height: 162px;
    width: 530px;
    background-color: #EEF3FA;
    display: flex;
}

.Creative-imgs {
    height: 100%;
    width: 237px;
}

.Creative-text {
    font-size: 18px;
    font-weight: 600;
    color: #004F6F;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

#expert-cont {
    height: 259px;
    width: 100%;
    background-color: #EEF3FA;
    text-align: center;
    padding-top: 50px;
    margin: 60px 0;
}

#p-advice {
    color: #0086BC;
    font-size: 16px;
    font-weight: 600;
}

#help-line {
    font-size: 26px;
    font-weight: 700;
    color: #004F6F;
    padding-top: 10px;
}

#p-care {
    padding-top: 30px;
}

#L-btn {
    margin-top: 40px;
}

.borad {
    border-radius: 4px;
}

#donate-container {
    height: 360px;
    width: 87%;
    margin: 50px auto;
    display: flex;
    font-weight: 700;
}

#help-cont1 {
    height: 400px;
    width: 65%;
    padding-top: 130px;
}

#help-cont2 {
    height: 400px;
    width: 35%;
    padding-top: 160px;
    text-align: center;
    padding-left: 30pxg;
}

#safe-text {
    font-size: 32px;
    color: #fff;
    text-align: left;
    text-shadow: 0 0 10px rgba(0, 0, 0, .35);
    display: flex;
}

#give-text {
    font-size: 22px;
    color: #004F6F;
    padding-bottom: 15px;
}

#donate-btn {
    height: 44px;
    width: 125px;
    background-color: #004F6F;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
}

#sub-cont {
    height: 300px;
    width: 100%;
    background-color: #0074A3;
}

#sub-contx {
    height: 300px;
    width: 87%;
    margin: 0 auto;
    display: flex;
}

.sub-cont1 {
    height: 293px;
    width: 50%;
    padding-top: 40px;
    color: #fff;
}

.sub-cont2 {
    height: 293px;
    width: 50%;
    padding-top: 40px;
}

#connect {
    font-weight: 600;
    font-size: 14px;

}

#border {
    border-bottom: 3px solid #0086BC;
    width: 60px;
    padding-top: 40px;
}

#p-letter {
    font-size: 24px;
    font-weight: 700;
    padding-top: 40px;
    border-right: black;
}

.fa-brands {
    height: 45px;
    width: 45px;
    border-radius: 22px;
    gap: 30px;
    background-color: #0086BC;
    margin-top: 30px;
    font-size: 20px;
    padding-top: 12px;
    padding-left: 15px;
}

.inputs {
    height: 40px;
    width: 49%;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
}

.email {
    width: 99%;
    margin-top: 10px;
}

#sign-btn {
    height: 41px;
    width: 95px;
    text-transform: uppercase;
    background-color: #0086BC;
    border-radius: 4px;
    color: #fff;
    border: none;
    margin: 40px 0 10px;
    font-size: 13px;
    font-weight: 600;
}

#sign-btn:hover {
    background-color: #fff;
    color: #0086BC;
}

#footer {
    width: 100%;
    height: 60px;
    background-color: #004F6F;
}

#footer-0 {
    height: 100%;
    width: 87%;
    margin: 0 auto;
    display: flex;
    color: #fff;
}

#footer-1 {
    height: 100%;
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#footer-2 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    font-size: 12px;

}
.link-contact {
    color: #fff;
    height: 12px;
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    border-right: 2px solid #0086BC;
    padding-right: 10px;
    
}

#contact-box {
    width: 100px;
    /* background-color: greenyellow; */
}

#location-box {
    width: 120px;
    /* background: red; */
}

#career-box {
    width: 60px;
    /* background-color: #d59169; */
}

#privacy-box {
    width: 95px;
    /* background-color: bisque; */
    border: none;
}
